@use 'base/variables' as v;

.alerta{
    padding: calc(v.$separacion/7);
    color:v.$blanco;
    width: 95%;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: auto ;
    margin-right: auto ;
    &.error{
        background-color: v.$rojo;
    }
    &.exito{
        background-color: v.$verde;
    }
}