@use 'base/variables' as v;
@use 'base/mixins' as m;

.form{
    button, input, optgroup, select, textarea {
        font-family: v.$fuente_principal;
    }

    width: 95%;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .campo{
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
        label{
            text-align: center;
            flex:0 0 10rem;
            // padding: 1rem;
        }
        input{
            flex: 1;
            border: none;
            padding: calc(v.$separacion/5);
            border-radius: 1rem;
            &:disabled{
                background-color: lighten($color: v.$grisOscuro, $amount: 40);
                color:v.$blanco;
            }

        }
    }
}