@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion{
    width: 95%;
    margin: 0 auto;
    padding: v.$separacion 0;
    button{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    @include m.telefono{
        display: flex;
        justify-content: space-between;
        
        button{
            width:min-content;
        }
    }
   
}
.ocultar{
    visibility: hidden;
}