@use 'base/variables' as v;

.dark-mode{
    background-color: darken($color: v.$grisOscuro, $amount: 10) ;
    
    p{

        color: v.$blanco;
    }
    a,h1,h2,h3,h4,blockquote,td{
        color: v.$gris;
    }
    .precio{
        color: v.$verde;
    }
    .anuncio{
        background-color:v.$grisOscuro;   
        .icono{
            filter:invert(90%)
        }
    }
    .resumen-propiedad{
        .icono{
            filter:invert(90%)
        }
    }
    .form{
        label,legend,p{
            color: v.$gris;
        }
        input:not([type='submit']),textarea,
    select{
        background-color: v.$grisOscuro;
        color: v.$blanco;
        border: none;
        background-image: v.$blanco;
    }
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator{
        filter:invert(100%);
    }
    }
    table.propiedad{
        tbody{
            tr{
                background-color: darken(v.$grisOscuro,10);
                &:nth-child(odd){
                    background-color: darken(v.$grisOscuro,10);
                }
            }
        }
    }
}
